/*npm install -g sass sass --watch assets/sass/input.scss assets/css/output.css*/
/*----------------------------------------SASS Variables*/
 $mainBgColor: rgb(165, 242, 243);
 $mainTextColor: white;
 $mainGlowColor: rgb(0,206,209);
 $mainGlow: 0px 0px 15px $mainGlowColor;
 $mainBRadius: 5px;
/*----------------------------------------Element Styles*/
 html {
     margin: 0;
     padding: 0;
     border: 0;
}
 body {
     margin: 0;
     padding: 0;
     border: 0;
     background-color: black;
     width: 100%;
}
 p {
     margin: 0;
}
 ul {
     list-style-type: none;
     padding: 0;
}
 li {
     font-size: 0.8em;
     margin-bottom: 10px;
}
 :focus {
     outline: lightgreen auto 5px;
}
 button:focus {
     outline: lightgreen auto 5px;
}
 #clueTitle {
     line-height: 30px;
}
 .clueContTitle {
     position: relative;
     height: 30px;
     text-align: center;
     width: 101%;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Global Class Styles*/
/*----------------------------------------Global Media Queries & Animation Styles*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Landing Container Styles*/
/*--------------------Landing Container ID Styles*/
 .ruleBreak {
     margin-top: 5px;
     margin-bottom: 20px;
     border-top: 1px solid #a5f2f3;
}
/*--------------------Landing Container Class Styles*/
/*--------------------Landing Container Media Queries & Animations Styles*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Game Display Styles*/
/*--------------------Game Display ID Styles*/
 #gameDisplay {
     position: relative;
}
 #userNameInput {
     border-radius: $mainBRadius;
     border: 0.5px solid #a5f2f3;
     box-shadow: 0px 0px 15px darkturquoise;
}
/*--------------------Game Display Class Styles*/
 .userNameField {
     border-radius: $mainBRadius;
     border: 0.5px solid #a5f2f3;
     box-shadow: 0px 0px 15px darkturquoise;
}
/*--------------------Game Display Media Queries & Animations Styles*/
 .mtgCardCont {
     height: 200px;
     width: auto;
     border-radius: 5px;
}
 #newGameCanvas {
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgba(135, 206, 250, 0.8);
     z-index: 3;
     border-radius: 5px;
}
 #endGameCanvas {
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgba(135, 206, 250, 0.8);
     z-index: 3;
     border-radius: 5px;
     display: none;
}
 #newGameModal {
     background-color: black;
     Position: absolute;
     display: block;
     border-radius: 5px;
     top: 50%;
     left: 50%;
     height: auto;
     width: 300px;
     transform: translate(-50%, -50%);
     z-index: 4;
     border: 2px solid #a5f2f3;
}
 .canvasButton {
     background-color: black;
     color: white;
     border: 0.5px solid lightcyan;
     box-shadow: 0px 0px 15px darkturquoise;
     border-radius: 5px;
}
 .canvasQuestion {
     color: lightcyan;
}
 #mobilePlatform {
     width: 100%;
     margin: 0;
}
 .gameButton {
     background-color: black;
     color: white;
     border: 0.5px solid #a5f2f3;
     box-shadow: 0px 0px 15px darkturquoise;
}
 #flavourTextRow {
     height: 100px;
}
 #flavourTextCol {
     position: relative;
     height: 100%;
     border-top: 0.5px solid black;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}
 #newGameButton, #newGameButton2 {
     width: 100%;
     border-radius: 5px;
}
 #flavourTextData {
     Position: absolute;
     top: 50%;
     left: 50%;
     height: auto;
     width: 80%;
     transform: translate(-50%, -50%);
     font-size: 0.75em;
     overflow-wrap: break-word;
}
 #data {
     height: 200px;
     background-color: blue;
}
 #headerContainer {
     width: 100%;
}
 .headTitle {
     background-color: black;
     color: white;
     width: auto;
     margin: auto;
}
 .blue {
     background-color: blue;
}
 .yellow {
     background-color: yellow;
}
 .green {
     background-color: green;
}
 .pink {
     background-color: pink;
}
 .white {
     background-color: white;
     color: black;
}
 .headRow {
     margin: 0;
}
 .scoreRow {
     height: 30px;
}
 .scoreCol {
     position: relative;
     height: 100%;
}
 .scoreText {
     Position: absolute;
     left: 50%;
     top: 50%;
     height: 80%;
     width: 80%;
     transform: translate(-50%, -50%);
}
 .FlavourText {
     Position: absolute;
     left: 50%;
     top: 50%;
     height: 80%;
     width: 80%;
     transform: translate(-50%, -50%);
}
 .scoreColLeft {
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
 .scoreColRight {
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
 .mtgCardImg {
     display: block;
     width: 140px;
     height: 200px;
     object-fit: cover;
     border-radius: 5px;
}
 #flavourCol {
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-bottom: 0.5px solid black;
     border-right: 1px solid black;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
 #guessingRow {
     margin: 10px 24px 24px 24px;
}
 #guessInput {
     padding: 0;
     width: 100%;
     height: 30px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
 #guessSub, #scoreSub {
     padding: 0;
     width: 100%;
     height: 30px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
 .clueCont {
     position: relative;
     height: 50px;
     text-align: center;
}
 .clueButton {
     position: absolute;
     top: 0;
     left: 50%;
     height: 100%;
     width: 80%;
     z-index: 2;
     padding: 0;
     border-radius: 5px;
     margin-left: -40%;
     background-color: black;
     color: white;
     border: 0.5px solid #a5f2f3;
     box-shadow: 0px 0px 15px darkturquoise;
}
 .clueTitle {
     position: absolute;
     top: 0;
     height: 100%;
     width: 90%;
     left: 5%;
     z-index: 2;
     padding: 0;
     border-radius: 5px;
     background-color: black;
     color: white;
     border: 0.5px solid #a5f2f3;
     box-shadow: 0px 0px 15px darkturquoise;
}
 .clueTextBox {
     position: absolute;
     top: 50%;
     left: 50%;
     height: 80%;
     width: 80%;
     z-index: 1;
     padding: 0;
     border-radius: 5px;
     transform: translate(-50%, -50%);
     line-height: 40px;
     color: white;
     border: 0.5px solid lightcyan;
     box-shadow: 0px 0px 15px darkturquoise;
}
 .clueRow {
     height: 50px;
}
 .clueRowTile {
     height: 30px;
}
 #landingContainer {
     width: 100%;
     margin: 0;
     padding: 0;
}
 .adTitle {
     height: 100px;
     width: 100%;
     background-image: url("../imgs/scg_theros.webp");
     background-size: cover;
     background-repeat: no-repeat;
}
 .pageContainer {
     margin-top: -25px;
}
 @media only screen and (min-width: 767px) {
     .adTitle {
         height: 150px;
         width: 100%;
         margin: auto;
         background-size: cover;
    }
}
 @media only screen and (min-width: 1023px) {
     .adTitle {
         height: 200px;
         width: 500px;
         margin: auto;
         background-size: cover;
    }
}
/*Stackoverflow - Vinay (Altered the code so I could flash up and down with score/life changes) URL:https://stackoverflow.com/questions/275931/how-do-you-make-an-element-flash-in-jquery */
 .flashUp {
     animation: flashUp 1s ease-out;
     animation-iteration-count: 1;
     border-radius: 5px;
}
 .flashDown {
     animation: flashDown 1s ease-out;
     animation-iteration-count: 1;
     border-radius: 5px;
}
 @keyframes flashUp {
     0% {
         background-color: transparent;
    }
     50% {
         background-color: #39ff14;
    }
     100% {
         background-color: transparent;
    }
}
 @-webkit-keyframes flashUp {
     0% {
         background-color: transparent;
    }
     50% {
         background-color: #39ff14;
    }
     100% {
         background-color: transparent;
    }
}
 @keyframes flashDown {
     0% {
         background-color: transparent;
    }
     50% {
         background-color: #ff0101;
    }
     100% {
         background-color: transparent;
    }
}
 @-webkit-keyframes flashDown {
     0% {
         background-color: transparent;
    }
     50% {
         background-color: #ff0101;
    }
     100% {
         background-color: transparent;
    }
}
 .W {
     background-color: white;
}
 .U {
     background-color: lightskyblue;
}
 .B {
     background-color: black;
}
 .R {
     background-color: red;
}
 .G {
     background-color: green;
}
 .UB {
     background-image: linear-gradient(to right, lightskyblue, black);
}
 .GW {
     background-image: linear-gradient(to right, green, white);
}
 .WB {
     background-image: linear-gradient(to right, white, black);
}
 .RG {
     background-image: linear-gradient(to right, red, green);
}
 .BR {
     background-image: linear-gradient(to right, black, red);
}
 .GU {
     background-image: linear-gradient(to right, green, lightskyblue);
}
 .BG {
     background-image: linear-gradient(to right, black, green);
}
 .UR {
     background-image: linear-gradient(to right, lightskyblue, red);
}
 .WU {
     background-image: linear-gradient(to right, white, lightskyblue);
}
 .RW {
     background-image: linear-gradient(to right, red, white);
}
 .WB {
     background-image: linear-gradient(to right, white, black);
}
 .brown {
     background-color: brown;
}
 .gold {
     background-color: gold;
}
#confirm {
     display: none;
     top: 50%;
     left: 50%;
     background-color: black;
     color: white;
     border: 1px solid lightcyan;
     border-radius: 5px;
     position: absolute;
     width: 350px;
     height: 125px;
     transform: translate(-50%, -50%);
     padding: 10px 20px 10px;
     box-sizing: border-box;
     text-align: center;
     z-index: 5;
     box-shadow: 0px 0px 15px darkturquoise;
}
#confirm button {
     display: inline-block;
     border: 1px solid lightcyan;
     border-radius: 5px;
     padding: 5px;
     text-align: center;
     width: 60px;
     cursor: pointer;
}
#confirm .message {
     text-align: center;
}

#errorTwo {
     display: none;
     top: 50%;
     left: 50%;
     background-color: black;
     color: white;
     border: 1px solid lightcyan;
     border-radius: 5px;
     position: absolute;
     width: 350px;
     height: 125px;
     transform: translate(-50%, -50%);
     padding: 10px 20px 10px;
     box-sizing: border-box;
     text-align: center;
     z-index: 5;
     box-shadow: 0px 0px 15px darkturquoise;
}
#errorTwo button {
     display: inline-block;
     border: 1px solid lightcyan;
     border-radius: 5px;
     padding: 5px;
     text-align: center;
     width: 60px;
     cursor: pointer;
}
#errorTwo .message {
     text-align: center;
}



 .cannotAfford {
     color: red;
     font-size: 1em;
     font-weight: 800;
}
 #clue3 {
     font-size: .75em;
}
/*----------------------------------------External Code*/
/*--------------------From w3schools*/
 .autocomplete {
    /*the container must be positioned relative:*/
     position: relative;
     display: inline-block;
     width: 100%;
}
 .wide {
     width: 100%;
}
 input {
     text-align: center;
     border: 1px solid transparent;
     background-color: #f1f1f1;
     padding: 10px;
     font-size: 16px;
}
 input[type=text] {
     background-color: #f1f1f1;
     width: 100%;
}
 input[type=submit] {
     background-color: DodgerBlue;
     color: #fff;
}
 .autocomplete-items {
     position: absolute;
     border-radius: $mainBRadius;
     border-bottom: none;
     border-top: none;
     z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
     top: 100%;
     left: 0;
     right: 0;
}
 .autocomplete-items div {
     padding: 10px;
     cursor: pointer;
     background-color: black;
     border: 1px solid $mainBgColor;
     border-radius: $mainBRadius;
}
 .autocomplete-items div:hover {
    /*when hovering an item:*/
     background-color: #e9e9e9;
     color: black;
}
 .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
     background-color: DodgerBlue !important;
     color: #ffffff;
}
/*--------------------From w3schools*/
/*# sourceMappingURL=output.css.map */
 ::-webkit-input-placeholder {
     text-align: center;
}
 :-moz-placeholder {
    /* Firefox 18- */
     text-align: center;
}
 ::-moz-placeholder {
    /* Firefox 19+ */
     text-align: center;
}
 :-ms-input-placeholder {
     text-align: center;
}
