html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

p {
    margin: 0;
}

.mtgCardCont {
    height: 200px;
    width: 140px;
    border-radius: 5px;
}

#flavourRow {
    height: 20%;
}

#flavourTextRow {
    height: 80%;

}
.flavourTextCol {
    position: relative;
    height: 100%;
}

#flavourTextData {
    Position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    overflow-wrap: break-word;
    overflow: scroll;
}

#data {
    height: 200px;
    background-color: blue;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.white {
    background-color: White;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.scoreRow {
    height: 30px;
}

.scoreCol {
    position: relative;
    height: 100%;
}

.scoreText {
    Position: absolute;
    left: 50%;
    top: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.scoreColLeft {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0.1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scoreColRight {
    border-top: 1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mtgCardImg {
    display: block;
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}