html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
    width:100%;
}

p {
    margin: 0;
}

.mtgCardCont {
    height: 200px;
    width: 140px;
    border-radius: 5px;
}

#mobilePlatform {
    width:100%;
    margin: 0;
}

.gameButton {
    background-color: black;
    color: lightcyan;
    border: 0.5px solid rgba(224,255, 255);
    box-shadow: 0px 0px 15px rgba(224, 255 , 255, .5);
}

#flavourTextRow {
    height: 170px;
}

#flavourTextCol {
    position: relative;
    height: 100%;
    border-top: 0.5px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#newGameButton {
    width: 100%;
    border-radius: 5px;
}

#flavourTextData {
    Position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    overflow-wrap: break-word;
    overflow: scroll;
}

#data {
    height: 200px;
    background-color: blue;
}

#headerContainer {
    width: 100%;
}

.headTitle {
    background-color: black;
    color: lightcyan;
    width: auto;
    margin: auto;
}


.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.white {
    background-color: White;
    color: black;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.headRow. adRow {
    margin: 0;
}

.scoreRow {
    height: 30px;
}

.scoreCol {
    position: relative;
    height: 100%;
}

.scoreText {
    Position: absolute;
    left: 50%;
    top: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.scoreColLeft {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scoreColRight {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mtgCardImg {
    display: block;
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#flavourCol {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0.5px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#guessInput {
    padding: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#guessSub {
    padding: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clueCont {
    position: relative;
    height: 50px;
    text-align: center;
}

.clueButton {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 80%;
    z-index: 2;
    padding: 0;
    border-radius: 5px;
    margin-left: -40%;
    background-color: black;
    color: lightcyan;
    border: 0.5px solid rgba(224,255, 255);
    box-shadow: 0px 0px 15px rgba(224, 255 , 255, .5);
}

.clueTextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    z-index: 1;
    border: 1px solid black;
    padding: 0;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    line-height: 40px;
    color: lightcyan;
    border: 0.5px solid rgba(224,255, 255);
    box-shadow: 0px 0px 15px rgba(224, 255 , 255, .5);
}

.clueRow {
    height: 50px;
}

#landingContainer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.adTitle {
    height: 70px;
    width: 100%;
    margin: 5px;
    background-image: url(https://cdn11.bigcommerce.com/s-3b5vpig99v/product_images/theme_images/hero-marquee-thb-order-now.png?t=1580600494);
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
    .adTitle {
        height: 100px;
        width: 60%;
        margin: auto;
    }
}
